---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Services from "../components/Services.astro";
import MoreInfo from "../components/MoreInfo.astro";
import Doctors from "../components/Doctors.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Location from "../components/Location.astro";
import ContactFixed from "../components/ContactFixed.astro";
---

<Layout title="Inicio | Sonríe Mx" description="Bienvenido a nuestra clínica dental, donde cuidamos tu salud bucal con excelencia y dedicación. Nuestros especialistas, egresados de las mejores universidades del país, ofrecen tratamientos de odontología general y estética para toda la familia. Con tecnología de vanguardia y rigurosos protocolos de higiene, garantizamos un ambiente seguro y cómodo. Permítenos ser tus aliados en el cuidado de tu sonrisa.">
  <Navbar />
  <main class="w-full flex justify-center items-center flex-col">
    <Hero />
    <About />
    <Services />
    <MoreInfo />
    <Doctors />
    <Contact />
    <Location />
    <Footer />
  </main>
  <ContactFixed />
</Layout>
