---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import Services from '../components/Services.astro'
import MoreInfo from '../components/MoreInfo.astro'
import Doctors from '../components/Doctors.astro'
---

<Layout title="Inicio | Sonríe Mx" description=''>
	<Navbar />
	<main class="w-full flex justify-center items-center flex-col">
		<Hero />
		<About />
		<Services />
		<MoreInfo />
		<Doctors />
		<div class="h-36">

		</div>
	</main>
</Layout>
