---
import ButtonArrow from "./ButtonArrow.astro";
import Dental from "./icons/Dental.astro";
---

<section class="w-full max-w-6xl px-4 grid gap-4 md:grid-cols-2 md:my-10 lg:my-20 lg:gap-10" id="nosotros">
  <article class="grid gap-2 md:order-2">
    <h2 class="text-4xl uppercase font-[Ondo] lg:text-6xl">Acerca de <span class=" bg-gradient-to-r  from-amber-200 to-yellow-500 bg-clip-text fill-transparent text-gold">nosotros</span></h2>
    <p>Somos una clínica odontológica formada por egresados de la Facultad de Odontología en Ciudad Universitaria. Nuestro compromiso es realizar tratamientos odontológicos de excelencia para toda la familia. Con una formación académica sólida y una constante actualización profesional, nos esforzamos por ofrecerte los más altos estándares de atención en cada visita.</p>
    <ul class="list-disc list-inside">
      <li>Calidad</li>
      <li>Confianza</li>
      <li>Tecnología</li>
    </ul>
    <ButtonArrow content="Conoce más" />
  </article>
  <div class="w-full relative">
    <img src="/images/doctors/ambos.webp" alt="Paciente realizando una revisión" class="bg-gradient-to-l from-slate-100 to-gray-200 rounded-[19px] aspect-square w-11/12 object-cover lg:max-h-80">
    <div class="rounded-xl bg-yellow-500 flex gap-3 w-max px-2 py-1 absolute top-6 right-0">
      <Dental class="w-8 text-slate-900" />
      <p class="flex flex-col text-slate-900">
        <span class="font-semibold text-xl">100%</span>
        <small class="text-xs">Calidad</small>
      </p>
    </div>
  </div>
</section>