---
import ButtonArrow from "./ButtonArrow.astro";
import Dental from "./icons/Dental.astro";
---

<section class="w-full max-w-6xl px-4 grid gap-4 grid-cols-2 my-10 lg:my-20 lg:gap-10" id="nosotros">
  <article class="grid gap-2 order-2">
    <h2 class="text-4xl uppercase font-[Ondo] lg:text-6xl">Acerca de <span class=" bg-gradient-to-r  from-amber-200 to-yellow-500 bg-clip-text fill-transparent text-gold">nosotros</span></h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti asperiores accusamus libero ut, at atque, nihil ea porro dolor quis quibusdam culpa sit earum quod blanditiis cumque? Pariatur, esse laudantium.</p>
    <ul>
      <li>Fast</li>
      <li>Fourios</li>
      <li>Lorem ipsum</li>
    </ul>
    <ButtonArrow content="Conoce más" />
  </article>
  <div class="w-full relative">
    <img src="/images/paciente.webp" alt="Paciente realizando una revisión" class="rounded-[19px] aspect-square w-11/12 object-cover lg:max-h-80">
    <div class="rounded-xl bg-yellow-500 flex gap-3 w-max px-2 py-1 absolute top-10 right-0">
      <Dental class="w-8 text-slate-900" />
      <p class="flex flex-col text-slate-900">
        <span class="font-semibold text-xl">100 +</span>
        <small class="text-xs">Best Doctor</small>
      </p>
    </div>
  </div>
</section>