---
import Phone from "./icons/Phone.astro";
import WhatsApp from "./icons/WhatsApp.astro";
import Message from "./icons/Message.astro";
---

<div class="fixed bottom-8 right-8 flex flex-col gap-4">
  <button id="open-contact" class="p-8 lg:p-4 border-2 rounded-[19px] group border-slate-800 bg-amber-400">
    <Message class="w-14 lg:w-8 transition group-hover:scale-110" />
  </button>
</div>
<div class="fixed bottom-[172px] right-8 flex flex-col gap-4">
  <a id="contact" href="tel:5575069386" class="p-8 lg:p-4 border-2 rounded-[19px] group border-slate-800 bg-yellow-500 scale-0 origin-center transition" target="_blank" rel="noopener noreferrer">
    <Phone class="w-14 lg:w-8 transition group-hover:scale-110" />
  </a>
  <a id="contact" href="https://api.whatsapp.com/send?phone=525575069386" class="p-8 lg:p-4 border-2 rounded-[19px] group border-slate-800 bg-[#25D366] scale-0 origin-center transition" target="_blank" rel="noopener noreferrer">
    <WhatsApp class="w-14 lg:w-8 transition group-hover:scale-110" />
  </a>
</div>

<script>
  const $btnContact = document.querySelectorAll('#contact')
  const $openContact = document.getElementById('open-contact')
  const buttons = [...$btnContact]

  $openContact?.addEventListener('mouseover', () => {
    buttons.map((btn) => (
      btn.classList.add('scale-100')
    ))
  })

  $openContact?.addEventListener('mouseleave', () => {
    buttons.map((btn) => (
      btn.classList.remove('scale-100')
    ))
  })
</script>