<section
  class="w-full h-full px-4 max-w-7xl mt-16 mb-10 grid place-content-center gap-5"
>
  <article>
    <h3>Consigue la sonrisa que siempre soñaste</h3>
    <div>
      <input type="text" />
      <button>Suscribirte</button>
    </div>
  </article>
  <div class="w-full grid h-full grid-cols-2 gap-2">
    <img
      src="/images/grid-1.webp"
      alt=""
      class="w-full rounded-[19px] row-span-2"
    />
    <img
      src="/images/grid-2.webp"
      alt=""
      class="w-full rounded-[19px] h-[-webkit-fill-available] object-cover"
    />
    <img
      src="/images/grid-3.webp"
      alt=""
      class="w-full rounded-[19px] h-[-webkit-fill-available] object-cover"
    />
  </div>
</section>
