---
import CardDoctor from "./CardDoctor.astro";
import "@splidejs/splide/css";
import Next from "./icons/Next.astro";
import { doctors } from "../mocks/doctors";
---

<section class="w-full max-w-6xl grid gap-4 px-4 my-10 lg:gap-8">
  <h2 class="w-full text-4xl uppercase font-[Ondo] lg:text-6xl">
    Conoce a nuestros <span
      class="pt-2 bg-gradient-to-r from-amber-200 to-yellow-500 bg-clip-text fill-transparent text-gold"
      >especialistas</span
    >
  </h2>
  <p class="w-full lg:text-lg">
    Todos nuestros especialistas han egresado de las mejores universidades del país y cuentan con un amplio currículo que los avala como los mejores en cada una de las áreas. Su experiencia y formación continua aseguran que recibas la atención más actualizada y de alta calidad.
  </p>
  <div class="w-full grid place-content-center">
    <section
      id="image-carousel"
      class="splide w-72 xxs:w-80 xs:w-96 md:w-[750px] lg:w-full"
      aria-label="Beautiful Images"
    >
      <div class="splide__track">
        <ul class="splide__list">
          {
            doctors.map((doctor) => (
            <li class="splide__slide pr-2 group">
              <CardDoctor
                name={doctor.name}
                imgSrc={doctor.imgSrc}
                className="group-hover:bg-yellow-500"
                specialty={doctor.specialty}
              />
            </li>
            ))
          }
        </ul>
      </div>
      <div class="w-full flex justify-center items-center">
        <div class="splide__arrows w-36 translate-y-10">
          <button
            class="splide__arrow--prev items-center bg-transparent rounded-full cursor-pointer flex h-8 justify-center p-0 absolute top-1/2 -translate-y-1/2 w-8 z-[1] border border-yellow-500 transition hover:bg-yellow-500"
          >
            <Next class="w-8 h-8 rotate-90" />
          </button>
          <button
            class="splide__arrow--next items-center bg-transparent rounded-full cursor-pointer flex h-8 justify-center p-0 absolute top-1/2 -translate-y-1/2 w-8 z-[1] border border-yellow-500 transition hover:bg-yellow-500"
          >
            <Next class="w-8 h-8" />
          </button>
        </div>
      </div>
    </section>
  </div>
</section>

<script>
  import Splide from "@splidejs/splide";
  new Splide(".splide", {
    type   : 'loop',
    perPage: 3,
    perMove: 1,
    pagination: false,
    gap: '10px',
    breakpoints: {
      767: {
        perPage: 1,
      },
    }
  }).mount();
</script>