---
const year = new Date().getFullYear()
---

<footer class="w-full max-w-6xl grid place-content-center gap-4 px-4 grid-cols-5 place-items-center mb-20">
  <div class="w-full flex flex-col gap-4 col-span-2">
    <img src="/logo-gold.webp" alt="Logo de Sonríe MX" class="w-full max-w-80">
    <p>@{year} Sonríe MX. Todos los derechos reservados.</p>
    <p>Desarrollo web por agencia <a class="hover:underline" href="https://api.whatsapp.com/send?phone=525514476309" target="_blank" rel="noopener noreferrer">Dentarios</a></p>
  </div>
  <ul class="">
    <li class="mb-4">
      <span class="text-xl font-semibold tracking-wider">Contacto</span>
    </li>
    <li class="group w-max">
      <a href="tel:55555555555" target="_blank" rel="noopener noreferrer">5555555555</a>
      <div class="w-0 h-[2px] rounded-full bg-white transition-all group-hover:w-full" />
    </li>
    <li class="group w-max">
      <a href="mailto:example@mail.com" target="_blank" rel="noopener noreferrer">example@mail.com</a>
      <div class="w-0 h-[2px] rounded-full bg-white transition-all group-hover:w-full" />
    </li>
  </ul>
  <ul class="">
    <li class="mb-4">
      <span class="text-xl font-semibold tracking-wider">Nosotros</span>
    </li>
    <li class="group w-max">
      <a href="#nosotros">Acerca de nosotros</a>
      <div class="w-0 h-[2px] rounded-full bg-white transition-all group-hover:w-full" />
    </li>
    <li class="group w-max">
      <a href="#servicios">Servicios</a>
      <div class="w-0 h-[2px] rounded-full bg-white transition-all group-hover:w-full" />
    </li>
  </ul>
  <ul class="">
    <li class="mb-4">
      <span class="text-xl font-semibold tracking-wider">Recursos</span>
    </li>
    <li class="group w-max">
      <a href="#casos">Casos de éxito</a>
      <div class="w-0 h-[2px] rounded-full bg-white transition-all group-hover:w-full" />
    </li>
    <li class="group w-max">
      <a href="#reviews">Reseñas</a>
      <div class="w-0 h-[2px] rounded-full bg-white transition-all group-hover:w-full" />
    </li>
  </ul>
</footer>