---
import Facebook from "./icons/Facebook.astro"
import Instagram from "./icons/Instagram.astro"

const year = new Date().getFullYear()
---

<footer class="w-full max-w-7xl grid place-content-center gap-4 px-4 grid-cols-5 place-items-start mb-20">
  <div class="w-full flex flex-col gap-4 col-span-2">
    <img src="/logo-gold.webp" alt="Logo de Sonríe MX" class="w-full max-w-80">
    <p>@{year} Sonríe MX. Todos los derechos reservados.</p>
    <p>Desarrollo web por agencia <a class="hover:underline" href="https://api.whatsapp.com/send?phone=525514476309" target="_blank" rel="noopener noreferrer">Dentarios</a></p>
  </div>
  <ul class="w-full text-sm grid gap-2 lg:text-base">
    <li class="mb-4">
      <span class="font-semibold tracking-wider lg:text-xl">Contacto</span>
    </li>
    <li class="group w-max">
      <a href="tel:5575069386" target="_blank" rel="noopener noreferrer">5575069386</a>
      <div class="w-0 h-[2px] rounded-full bg-white transition-all group-hover:w-full" />
    </li>
    <li class="group truncate">
      <a href="mailto:gruposonriemx@gmail.com" target="_blank" rel="noopener noreferrer">gruposonriemx@gmail.com</a>
      <div class="w-0 h-[2px] rounded-full bg-white transition-all group-hover:w-full" />
    </li>
  </ul>
  <ul class="w-full text-sm grid gap-2 lg:text-base">
    <li class="mb-4">
      <span class="font-semibold tracking-wider lg:text-xl">Recursos</span>
    </li>
    <li class="group w-max">
      <a href="#casos">Casos de éxito</a>
      <div class="w-0 h-[2px] rounded-full bg-white transition-all group-hover:w-full" />
    </li>
    <li class="group w-max">
      <a href="#reviews">Reseñas</a>
      <div class="w-0 h-[2px] rounded-full bg-white transition-all group-hover:w-full" />
    </li>
  </ul>
  <div class="w-full text-sm grid gap-2 lg:text-base">
    <span class="font-semibold tracking-wider mb-4 lg:text-xl">Síguenos</span>
    <div class="flex gap-4">
      <a aria-label="Ir a la página de Facebook de Sonríe Mx" href="https://www.facebook.com/clinicasonriemx/" target="_blank" rel="noopener noreferrer" class="group w-max">
        <Facebook class="w-10 fill-white group-hover:fill-yellow-500" />
      </a>
      <a aria-label="Ir a la página de Instagram de Sonríe Mx" href="https://www.instagram.com/sonriemx_/?hl=es-la" target="_blank" rel="noopener noreferrer" class="group w-max">
        <Instagram class="w-10 fill-white group-hover:fill-yellow-500" />
      </a>
    </div>
  </div>
</footer>