---
import ButtonArrow from "./ButtonArrow.astro";
---

<section class="w-full max-w-6xl px-4 grid gap-4 grid-cols-2 mb-20 place-items-center lg:gap-10" id="nosotros">
  <article class="grid gap-3 order-2">
    <h2 class="text-4xl uppercase font-[Ondo] lg:text-6xl"><span class=" bg-gradient-to-r pt-2 from-amber-200 to-yellow-500 bg-clip-text fill-transparent text-gold">Contáctanos</span></h2>
    <p>Tuxpan 8-Consultorio 702, Roma Sur, Cuauhtémoc, 06770 Ciudad de México, CDMX</p>
    <ul class="">
      <li class="font-semibold text-lg mb-4">Horarios</li>
      <li class="">Lunes - Viernes: 10am - 7pm</li>
      <li class="">Sábado: 10am - 4pm</li>
      <li class="">Domingo: 10am - 2pm</li>
    </ul>
    <ButtonArrow content="Agenda tu cita" />
  </article>
  <div class="w-full">
    <iframe title="Ubicación de la clínica Sonríe Mx" class="rounded-[19px] aspect-square w-11/12 object-cover lg:max-h-80" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.131926155855!2d-99.17035908963692!3d19.406705041432616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff9dbc152c2f%3A0xa9caf22d74e5ce2c!2sCl%C3%ADnica%20Dental%20Sonr%C3%ADe%20Mx!5e0!3m2!1ses-419!2smx!4v1717434659652!5m2!1ses-419!2smx" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>