<header class="w-full flex justify-center items-start mb-10">
  <nav class="w-full flex justify-between items-center max-w-7xl px-4 py-2 lg:py-3">
    <a href="/" class="flex w-48">
      <img width="1114" height="1030" src="/logo-gold.webp" alt="Logo de Sonríe MX en color dorado" class="w-full aspect-auto">
    </a>
    <div class="w-full h-auto transition z-10" id="menu-dropdown">
      <div
        class=`w-full h-auto flex justify-end items-start gap-6`
      >
        <a href="/" class=" font-light text-2xl tracking-wider group">Inicio
          <div class="w-0 h-[2px] rounded-full bg-white transition-all group-hover:w-full" />
        </a>
        <a href="#nosotros" class=" font-light text-2xl tracking-wider group">Nosotros
          <div class="w-0 h-[2px] rounded-full bg-white transition-all group-hover:w-full" />
        </a>
        <a href="#servicios" class=" font-light text-2xl tracking-wider group">Servicios
          <div class="w-0 h-[2px] rounded-full bg-white transition-all group-hover:w-full" />
        </a>
        <a href="tel:5575069386" class=" font-light text-2xl tracking-wider group">Contacto
          <div class="w-0 h-[2px] rounded-full bg-white transition-all group-hover:w-full" />
        </a>
      </div>
    </div>
  </nav>
</header>