---
import CardService from "./CardService.astro";
---

<section class="w-full grid gap-4 place-content-center max-w-7xl px-4 my-10">
  <h2 class="text-4xl uppercase font-bold">Nuestros <span class="pr-2 bg-gradient-to-r from-amber-200 to-yellow-500 bg-clip-text fill-transparent text-gold font-[Lambency]">servicios</span></h2>
  <div class="w-full gap-4 grid place-content-center">
    <CardService title="Carillas Dentales" description="Ofrecemos un amplio catalogo de carillas para todo uso bla bka bla bla bla bla bla bal" icon="/images/carillas-dentales.webp" />
    <CardService title="Carillas Dentales" description="Ofrecemos un amplio catalogo de carillas para todo uso bla bka bla bla bla bla bla bal" icon="/images/carillas-dentales.webp" />
    <CardService title="Implante Dental" />
    <CardService title="Implante Dental" />
    <CardService title="Implante Dental" />
  </div>
</section>