---
import Next from './icons/Next.astro';
import { reviews } from "../mocks/reviews.js";
import CardReview from './CardReview.astro';
import '@splidejs/splide/css';
---

<div class="w-full flex justify-center items-center bg-cover bg-center bg-no-repeat container-testimonios">
  <div class=" bg-primary/60 flex w-full justify-center items-center">
    <section class="flex w-full justify-center items-center max-w-7xl">
      <div class="flex justify-center items-center flex-col md:flex-row md:w-full" id="Testimonios">
        <div class="splide w-[280px] my-0 max-w-2xl md:w-[350px] md:ml-auto lg:w-full" aria-label="Slider de reseñas de los pacientes" id="slider-resenas">                          
          <div class="splide__track">
            <ul class="splide__list grid place-items-center">
              {
                reviews.map((review, i) => (
                <li class="splide__slide lg:pl-3" aria-roledescription="Reviews Slider">
                  <CardReview
                    name={review.name}
                    text={review.text}
                    score={review.star}
                    date={review.date}
                  />
                </li>
                ))
              }
            </ul>
          </div> 
          <div class="w-full flex justify-center items-center">
            <div class="splide__arrows w-36 translate-y-10">
              <button
                class="splide__arrow--prev items-center bg-transparent rounded-full cursor-pointer flex h-8 justify-center p-0 absolute top-1/2 -translate-y-1/2 w-8 z-[1] border border-white transition hover:bg-white"
              >
                <Next class="w-8 h-8 rotate-90" />
              </button>
              <button
                class="splide__arrow--next items-center bg-transparent rounded-full cursor-pointer flex h-8 justify-center p-0 absolute top-1/2 -translate-y-1/2 w-8 z-[1] border border-white transition hover:bg-white"
              >
                <Next class="w-8 h-8" />
              </button>
            </div> 
          </div>                       
        </div> 
      </div>
    </section>
  </div>
</div>

<script>
  import Splide from '@splidejs/splide';
  import { Intersection } from '@splidejs/splide-extension-intersection';
  new Splide( '#slider-resenas', {
    type   : 'loop',
    perPage: 1,
    pagination: false,
    autoplay: 'pause',
    pauseOnHover: true,
    interval: 3500,
    gap: '10px',
    breakpoints: {
      1020: {
        padding: 0,
      },
    },
    intersection: {
      inView: {
        autoplay: true,
      },
      outView: {
        autoplay: false,
      },
    }
  } ).mount( { Intersection } );
</script>